@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap Condensed', sans-serif;
}

.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-1{
    width: 80%;
    height: 60vh;
    background-image: url(./image/photo-1637825891028-564f672aa42c.avif);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 2px 5px 18px black;
}

.navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    padding-inline: 80px;
}

.navbar p{
    padding-top: 20px;
    font-size: 25px;
}

.navbar p:hover{
    color: rgb(185, 185, 185);
    transition: transition .2s;
    transform: scale(1.3);
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    padding: 10px;
    padding-top: 20px;
}
/* text-part */
.text-left{
    width: 50%;
    height: auto;
    padding-left: 100px;
    padding-top: 20px;
}
.text-left h1{
    color: whitesmoke;
    font-size: 195%;
    font-weight: 100;
}

.par{
    color: white;
    padding-block: 20px;
    font-size: 18px;
    font-weight: 100;
}
.text-left span{
    display: flex;
}

.text-left span{
    width: 50%;
    height: 45vh;
    display: flex;
    align-items: start;
    justify-content: start;
    position: relative;
}

.text-left span img{
    width: 100px;
}

#icon-1{
    width: 110px;
   margin-top: 10%;
}

#icon-2{
    width: 90px;
    margin-left: 10%;
    margin-top: 5%;
}

.text-part{
    display: flex;
}

.text-right{
    width: 50%;
    height: 45vh;
    display: flex;
    align-items: end;
    justify-content: end;
    position: relative;
}

.text-right img{
    width: 200px;
}

#image-1{
    position: absolute;
    width: 300px;
    z-index: 5;
    left: 10%;
    top: 75%;
    right: 70%;
}

#image-2{
    position: absolute;
    width: 350px;
    z-index: 1;
    bottom: 10%;
    right: 20%;
}

#image-3{
    position: absolute;
    width: 400px;
    bottom: 20%;
    z-index: 1;
    top: 40%;
    left: 44%;
}
/* container-2 */
.container-2{
    width: 80%;
    height: 40vh;
    margin-top: 20px;
    display: flex;
    border-radius: 30px;
    box-shadow: 2px 5px 18px black;
}

.text-left-part{
    width: 50%;
    height: 50px;
    padding-left: 100px;
}
.text-left-part h1{
    font-weight: 200;
    font-size: 40px;
    padding-block: 20px;
}
.text-left-part p{
    font-size: 15px;
}

.text-left-part button{
    width: 120px;
    height: 35px;
    border: none;
    color: white;
    margin-top: 25px;
    background-color: orange;
}

.text-right-part{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.box-1{
    display: flex;
}

.box-2{
    display: flex;
    margin-top: 30px;
}
#logo-1{
    width: auto;
    height: auto;
    display: flex;
    margin-right: 50px;
}

#logo-1 i{
    font-size: 20px;
    padding-right: 10px;
}

#logo-2{
    width: auto;
    height: auto;
    display: flex;
    margin-right: 50px;
}

#logo-2 i{
    font-size: 20px;
    padding-right: 10px;
}

#logo-3{
    width: auto;
    height: auto;
    display: flex;
    margin-right: 60px;
}
#logo-3 i{
    font-size: 35px;
    padding-right: 10px;
}

#logo-4{
    width: auto;
    height: auto;
    display: flex;
    margin-right: 60px;
}
#logo-4 i{
    font-size: 35px;
    padding-right: 10px;
}


@media (max-width:768px) {
    .main-container{
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .container-1{
        width: 80%;
        height: 350px;
        display: flex;
        flex-direction: column;
    }

    .text-right{
        display: none;
    }
    .text-right-part{
        display: none;
    }

    .navbar{
        padding-inline: 4%;
    }

    .navbar ul{
        display: flex;
        padding-left: 8px;
    }

    .navbar ul li{
        font-size: 50%;
        padding: 20px 10px;
    }

    .navbar p{
        font-size: 20px;
    }

    .text-left{
        width: 50%;
        height: auto;
        padding-left: 3%;
    }

    .text-left h1{
        font-size: 20px;
    }

    .par{
        font-size: 13px;
        padding-block: 5px;
        padding-top: 19px;
    }

    .left-text span img{
        font-size: 30px;
        margin-top: 10px;
        text-align: center; 
        padding-right: 10%;
    }

    .container-2{
        width: 80%;
        height: 200px;
        margin-top: 15px;
        flex-direction: row;
    }

    .text-left-part{
        width: 100%;
        height: auto;
        padding-left: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-left-part h1{
        font-size: 1rem;  
        padding-block: 30px;
    }

    .text-left-part p{
        font-size: 9px;
    }

    .text-left-part button{
        /* border: 1px solid black; */
        text-align: center;
        border-radius: 50px;
        cursor: pointer;
    }

    .text-left-part button:hover{
        color: black;
    }
}


@media (max-width:320px) {
    .left-text span img{
        font-size: 15px;
        margin-top: 5px;
        text-align: center; 
        padding-right: 5%;
    }

    #icon-1{
        width: 50px;
    }

    #icon-2{
        width: 30px;
    }
}
